/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.item {
  background: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  margin: 2rem auto;
  align-items: center;
  border-radius: 0.25rem;
}


.my-image {
  width: 70px;
  height: 70px;
}

